<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogInServlet</servlet-name>
        <servlet-class>LogInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>SignUpServlett</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>session</servlet-name>
        <servlet-class>session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gateleave</servlet-name>
        <servlet-class>gateleave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>holileave</servlet-name>
        <servlet-class>holileave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>passServlet</servlet-name>
        <servlet-class>passServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>passChangeServlet</servlet-name>
        <servlet-class>passChangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>details</servlet-name>
        <servlet-class>details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUppServlet</servlet-name>
        <servlet-class>SignUppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet2</servlet-name>
        <servlet-class>SignUpServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getinservlet</servlet-name>
        <servlet-class>getinservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSignUpServlet</servlet-name>
        <servlet-class>AdminSignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reapServlet</servlet-name>
        <servlet-class>reapServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogInServlet</servlet-name>
        <url-pattern>/LogInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>session</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gateleave</servlet-name>
        <url-pattern>/gateleave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>holileave</servlet-name>
        <url-pattern>/holileave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>passServlet</servlet-name>
        <url-pattern>/passServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>passChangeServlet</servlet-name>
        <url-pattern>/passChangeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>details</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUppServlet</servlet-name>
        <url-pattern>/SignUppServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet2</servlet-name>
        <url-pattern>/SignUpServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getinservlet</servlet-name>
        <url-pattern>/getinservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSignUpServlet</servlet-name>
        <url-pattern>/AdminSignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reapServlet</servlet-name>
        <url-pattern>/reapServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
